html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    text-align: center;
    font-family: font-family: 'Raleway', sans-serif;
    font-family: 'Space Mono', monospace;
    background-color: #7BAFD4;
}

h1 {
    font-size: 5vw;
    margin: auto
}


.title {
    font-size: 500%;
    padding: 40px;
    background-color: white;
    align-content: center;
    border: 6px solid black;
    width: 55%;
    height: auto;
    margin: 30px auto;
    position: relative;
}

.parent {
    font-size: 300%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 2%;
}


.caption {
    font-size: 23px;
    margin: 0 2em;
}


.child{
    background-color: white;
    border: 8px solid black;
    border-radius: 20%;
    width: 470px;
    height: 550px;
    margin: 2%;
    align-content: flex-end;
    box-shadow: 2em 2em 4em;
    transition: 0.4s;
}

.child:hover {
    transform: scale(1.1);
}


img{
    width: auto;
    height: 40rem;
    margin: 7%;
    display: flexbox;
}

@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 2em 2em 4em;
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  

.image-1 {
    width: auto;
    transition: 4s;
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {}

    25% {}

    50% {}

    75% {}

    100% {
        transform: rotate(360deg);
    }
}

h2 {
    font-style: bold;
    font-size: 2em;
}
